@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #94ccff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #357ab7;
}
